#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

section{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.card img{
  width: 40%;
  height: auto;
}

.card{
  max-width: 600px;
}