*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
}
header{
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    margin-bottom: 15px;
}
h3{
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px;
}

footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f1f1f1;
}
